body {
  padding: 0%;
  margin: 0%;
}

@media only screen and (min-width: 570px) and (max-width: 600px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 630px) {
  .sign_hold {
    width: 65vw;
  }
}

@media only screen and (min-width: 630px) and (max-width: 660px) {
  .sign_hold {
    width: 65vw;
  }
}

@media only screen and (min-width: 660px) and (max-width: 690px) {
  .sign_hold {
    width: 55vw;
  }
}

@media only screen and (min-width: 690px) and (max-width: 720px) {
  .sign_hold {
    width: 55vw;
  }
}

@media only screen and (min-width: 720px) and (max-width: 750px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 750px) and (max-width: 780px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 780px) and (max-width: 810px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 810px) and (max-width: 840px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 840px) and (max-width: 870px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 870px) and (max-width: 900px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 900px) and (max-width: 930px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 930px) and (max-width: 960px) {
  .sign_hold {
    width: 50vw;
  }
}

@media only screen and (min-width: 960px) and (max-width: 990px) {
  .UL-TAG {
    width: 45vw;
  }

  .sign_hold {
    width: 40vw;
  }

  .wider {
    width: 19rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
  .UL-TAG {
    width: 45vw;
  }

  .sign_hold {
    width: 35vw;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .UL-TAG {
    width: 35vw;
  }

  .sign_hold {
    width: 30vw;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .sign_hold {
    width: 30vw;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .sign_hold {
    width: 25vw;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .sign_hold {
    width: 22vw;
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2200px) {
  .sign_hold {
    width: 20vw;
  }
}

.main-box {
  border: green;
}

.butto_odd:hover .bi-pencil-fill {
  color: black;
}

input {
  outline: none;
}
/* @media only screen and (min-width: 960px) and (max-width: 990px) {

} */
